In [1]:
import pandas as pd
import json

In [12]:
gdp = pd.read_json('../global-warming-visualization/public/gdp2temp2meat2ghg.json')

with open('../global-warming-visualization/public/world_countries.json', 'r') as f:
    countries = json.load(f)

In [7]:
gdp.head(2)

       country  year     gdp  meat_consumption  temperature  ghg_emission
0  Afghanistan  1970  156.52             17.17        14.78    14306.6163
1  Afghanistan  1971  159.57             16.89        14.82    14391.7782

In [19]:
map_countries = [x['properties']['name'] for x in countries['features']]

In [24]:
set(map_countries) - set(gdp['country'].values)

{'Antarctica',
 'Bhutan',
 'Bosnia and Herzegovina',
 'Brunei',
 'Burundi',
 'Democratic Republic of the Congo',
 'East Timor',
 'Egypt',
 'England',
 'Equatorial Guinea',
 'Eritrea',
 'Falkland Islands',
 'French Southern and Antarctic Lands',
 'Gambia',
 'Greenland',
 'Guinea Bissau',
 'Iran',
 'Ivory Coast',
 'Kosovo',
 'Kyrgyzstan',
 'Laos',
 'Libya',
 'Macedonia',
 'Montenegro',
 'Myanmar',
 'North Korea',
 'Northern Cyprus',
 'Papua New Guinea',
 'Puerto Rico',
 'Qatar',
 'Republic of Serbia',
 'Republic of the Congo',
 'Russia',
 'Slovakia',
 'Somalia',
 'Somaliland',
 'South Korea',
 'South Sudan',
 'Swaziland',
 'Syria',
 'Taiwan',
 'The Bahamas',
 'Trinidad and Tobago',
 'USA',
 'United Republic of Tanzania',
 'Vanuatu',
 'Venezuela',
 'West Bank',
 'Western Sahara',
 'Yemen'}

In [21]:
set(map_countries) - set(gdp['country'].values)

{'Antarctica',
 'Bhutan',
 'Bosnia and Herzegovina',
 'Brunei',
 'Burundi',
 'Democratic Republic of the Congo',
 'East Timor',
 'Egypt',
 'England',
 'Equatorial Guinea',
 'Eritrea',
 'Falkland Islands',
 'French Southern and Antarctic Lands',
 'Gambia',
 'Greenland',
 'Guinea Bissau',
 'Iran',
 'Ivory Coast',
 'Kosovo',
 'Kyrgyzstan',
 'Laos',
 'Libya',
 'Macedonia',
 'Montenegro',
 'Myanmar',
 'North Korea',
 'Northern Cyprus',
 'Papua New Guinea',
 'Puerto Rico',
 'Qatar',
 'Republic of Serbia',
 'Republic of the Congo',
 'Russia',
 'Slovakia',
 'Somalia',
 'Somaliland',
 'South Korea',
 'South Sudan',
 'Swaziland',
 'Syria',
 'Taiwan',
 'The Bahamas',
 'Trinidad and Tobago',
 'USA',
 'United Republic of Tanzania',
 'Vanuatu',
 'Venezuela',
 'West Bank',
 'Western Sahara',
 'Yemen'}

In [2]:
temp = pd.read_csv('temperature_processed.csv')

In [4]:
temp.to_json('country2temperature.json', orient='records')