In [1]:
import os
import glob
import pandas as pd

In [2]:
temperature = pd.read_csv('temperature_processed.csv')
global_temperature = pd.read_csv('global_temperature_processed.csv')
sea = pd.read_csv('sea_level_processed.csv')
glaciers = pd.read_csv('glaciers_processed.csv')
ghg = pd.read_csv('ghg_processed.csv')
global_ghg = pd.read_csv('global_ghg_processed.csv')
gdp = pd.read_csv('gdp_processed.csv')
meat = pd.read_csv('meat_processed.csv')

In [3]:
global_temperature2ghg = pd.merge(global_temperature, global_ghg, left_on='year', right_on='year', how='inner')
global_temperature2ghg.to_csv('global_temperature2ghg.csv', index=False)
global_temperature2ghg.head()

   year  temperature  ghg_emission
0  1970        18.79  1.069010e+06
1  1971        18.59  9.921342e+05
2  1972        18.67  1.071097e+06
3  1973        18.87  1.111206e+06
4  1974        18.63  1.082074e+06

In [4]:
temp2ghg = pd.merge(temperature, ghg, on=['country', 'year'])
temp2meat2ghg = pd.merge(meat, temp2ghg, on=['country', 'year'])
gdp2temp2meat2ghg = pd.merge(gdp, temp2meat2ghg, on=['country', 'year'])

gdp2temp2meat2ghg.to_json('gdp2temp2meat2ghg.json', orient='records')
gdp2temp2meat2ghg.head()

       country  year     gdp  meat_consumption  temperature  ghg_emission
0  Afghanistan  1970  156.52             17.17        14.78    14306.6163
1  Afghanistan  1971  159.57             16.89        14.82    14391.7782
2  Afghanistan  1972  135.32             14.68        12.55    13040.8480
3  Afghanistan  1973  143.14             15.47        14.24    13535.7541
4  Afghanistan  1974  173.65             15.59        13.32    14945.9682

In [5]:
sea2glaciers = pd.merge(sea, glaciers, on=['year'])
sea2glaciers.to_json('sea2glaciers.json', orient='records')
sea2glaciers.head()

   year  level  mass
0  1945   2.96  0.00
1  1946   3.25 -1.13
2  1947   3.37 -3.19
3  1948   3.56 -3.19
4  1949   3.51 -3.82

In [6]:
for path in glob.glob('*.csv'):
    dataset = pd.read_csv(path)
    size = os.path.getsize(path)
    print(f'{path}: {len(dataset)} lines, {size/1000:.2f} KB')

gdp_processed.csv: 12099 lines, 313.00 KB
sea_level.csv: 135 lines, 6.88 KB
total_population.csv: 264 lines, 174.78 KB
global_temperature_processed.csv: 271 lines, 2.94 KB
sea_level_processed.csv: 135 lines, 1.36 KB
global_ghg_processed.csv: 43 lines, 0.83 KB
temperature.csv: 577462 lines, 22680.39 KB
meat_processed.csv: 10393 lines, 228.25 KB
ghg_processed.csv: 10092 lines, 309.31 KB
glaciers_processed.csv: 70 lines, 0.82 KB
gdp.csv: 264 lines, 258.07 KB
glaciers.csv: 70 lines, 1.20 KB
global_temperature2ghg.csv: 43 lines, 1.13 KB
meat_consumption.csv: 10393 lines, 263.41 KB
ghg.csv: 264 lines, 183.64 KB
temperature_processed.csv: 46246 lines, 987.55 KB